<? 
$old_view_path = $this->view_path; 
$this->view_path = Wish_Module::PATH . '/partials/'; 
?>
<li>
	<div id="wish_lists" class="clear">
		<? $lists = $form_model->list_related_records_deferred('wish_lists', $this->formGetEditSessionKey()); ?>

		<table class="simpleList">
			<thead>
				<tr>
					<th>Title</th>
					<th class="number">Items</th>
					<th class="date last">Date</th>
				</tr>
			</thead>
			<tbody>
				<? if($lists->count): ?>
					<?
					$session_key = $this->formGetEditSessionKey();
					
					foreach($lists as $list):
						$quantity = 0;
						
						foreach($list->items as $item)
							$quantity += $item->quantity;
					?>
					<tr class="<?= Backend_Html::zebra('wish_lists') ?>">
						<td>
							<?= h($list->title) ?>
						</td>
						<td class="number"><?= $quantity ?></td>
						<td class="date last"><?= $list->displayField('created_at') ?></td>
					</tr>
					<?
						endforeach;
					?>
				<? else: ?>
					<tr class="noData">
						<td colspan="3" class="last">There are no lists</td>
					</tr>
				<? endif ?>
			</tbody>
		</table>
	</div>
</li>
<?
$this->view_path = $old_view_path;
?>